# Repeat first 3 characters

In [1]:
def front3(str):
  front_end=3
  front=str[:3]
  return front+front+front
result=front3('cho')
print(result)

chochocho

# Reverse first and last character

In [ ]:
def front_back(str):
  if len(str) <= 1:
    return str
  
  mid = str[1:len(str)-1]  # can be written as str[1:-1]
  
  # last + mid + first
  return str[len(str)-1] + mid + str[0]


# String Times

In [ ]:
def string_times(str, n):
  result=""
  for i in range(n):
    result=result+str
  return result

# Count certain number comes in list

In [2]:
def array_count(nums):
    count=0
    for i in nums:
        if i==9:
            count=count+1
    return count

In [3]:
result1=array_count([4,9,9,3])
print(result1)

2

# If number present in list return True else False

In [ ]:
def array_front9(nums):
  end=len(nums)  #first figure the end of the loop
  if end>4:
    end=4
  for i in range(end): #loop over the index
    if nums[i]==9:
      return True
  return False

# Print fibonacci series

In [1]:
def fibonacci():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
f1=fibonacci()

In [2]:
print(next(f1))

0

In [4]:
print(next(f1))

1

# Repeat each character twice

In [5]:
def double_char(str):
    result=""
    for char in str:
        result+=char*2
    return result

In [6]:
result=double_char('who')
print(result)

wwhhoo

# count the 'hi' substring occures in the given string

In [10]:
def count_hi(str):
    count=0
    for i in range(len(str)):
        if str[i:i+2]=='hi':
            count+=1
    return count

In [12]:
result=count_hi('hi,my name is hi,hi')
print(result)

3


# return true if count of cat = count of dog

In [5]:
def cat_dog_equal_count(s):
    cat_count = 0
    dog_count = 0
    for i in range(len(s)):
        if s[i:i+3] == "cat":
            cat_count += 1
        elif s[i:i+3] == "dog":
            dog_count += 1
    return cat_count == dog_count

my_string = "catdogcatdo"
result = cat_dog_equal_count(my_string)
print(result)

False

In [6]:
def count_code(str):
  count=0
  for i in range(len(str)):
    if str[i:i+4]=='code':
      count+=1
  return count

In [8]:
result=count_code('codecuuutcodcod')
print(result)

1

# Count number of times even number appers in the given array

In [9]:
def count_evens(nums):
  count=0
  for num in nums:
    if num%2==0:
      count+=1
  return count

In [11]:
result=count_evens([2,3,4,1,])
print(result)

2

# Find the difference between the max and min value in the given list

In [14]:
def big_diff(nums):
  big_num=max(nums)
  small_num=min(nums)
  return big_num-small_num

In [15]:
result=big_diff([2,6,8,4,7,9])
print(result)

7

# Find out the Possible subset from the given list

In [1]:
def generate_subsets(lst, start=0, current=[]):
    if start == len(lst):
        return [current]

    include_current = generate_subsets(lst, start + 1, current + [lst[start]])
    exclude_current = generate_subsets(lst, start + 1, current)

    return include_current + exclude_current

my_list = [1, 5, -3, 5, 7, 8]
subsets = generate_subsets(my_list)

for subset in subsets:
    print(subset)

[1, 5, -3, 5, 7, 8]
[1, 5, -3, 5, 7]
[1, 5, -3, 5, 8]
[1, 5, -3, 5]
[1, 5, -3, 7, 8]
[1, 5, -3, 7]
[1, 5, -3, 8]
[1, 5, -3]
[1, 5, 5, 7, 8]
[1, 5, 5, 7]
[1, 5, 5, 8]
[1, 5, 5]
[1, 5, 7, 8]
[1, 5, 7]
[1, 5, 8]
[1, 5]
[1, -3, 5, 7, 8]
[1, -3, 5, 7]
[1, -3, 5, 8]
[1, -3, 5]
[1, -3, 7, 8]
[1, -3, 7]
[1, -3, 8]
[1, -3]
[1, 5, 7, 8]
[1, 5, 7]
[1, 5, 8]
[1, 5]
[1, 7, 8]
[1, 7]
[1, 8]
[1]
[5, -3, 5, 7, 8]
[5, -3, 5, 7]
[5, -3, 5, 8]
[5, -3, 5]
[5, -3, 7, 8]
[5, -3, 7]
[5, -3, 8]
[5, -3]
[5, 5, 7, 8]
[5, 5, 7]
[5, 5, 8]
[5, 5]
[5, 7, 8]
[5, 7]
[5, 8]
[5]
[-3, 5, 7, 8]
[-3, 5, 7]
[-3, 5, 8]
[-3, 5]
[-3, 7, 8]
[-3, 7]
[-3, 8]
[-3]
[5, 7, 8]
[5, 7]
[5, 8]
[5]
[7, 8]
[7]
[8]
[]

In [11]:
l1=[2,5,-3,7,8]
list=[]
for i in l1:
    list.append(i*2)
print(list)

[4, 10, -6, 14, 16]

In [7]:
l1

[2, 5, -3, 7, 8]

In [8]:
list=[i for i in l1 if i%2==0]

In [9]:
print(list)

[2, 8]

In [18]:
def fibonacci(input,start=0):
    for i in range():
        if input[i:i+1]==sum(i and i+1):
            return input
result=fibonacci(6)
print(result)

None

In [1]:
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

for i in range(10):
    print (fibonacci(i))

0
1
1
2
3
5
8
13
21
34

In [4]:
def palindrome(word):
    word=word.lower()
    return word==word[::-1]
result=palindrome('Mom')
print(result)

True

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:/Users/hp/Desktop/datasets/Email_folder.xlsx')

In [9]:
df['flag']=df['Email '].str.endswith('yahoo.com')

In [13]:
df.to_excel('abc.xlsx',r)

In [15]:
import os
os.getcwd()

'C:\\Users\\hp\\Desktop'

SyntaxError: invalid syntax (3607238503.py, line 1)

In [25]:
def mail_list(string):
    if string.endswith('yahoo.com'):
        return False
    else:
        True
        
list1=map(x for x in string if x:x.endswith('yahoo.com') False else True)

NameError: name 'Akshay' is not defined